@model UrlInfo
@{
    ViewBag.Title = "虾米歌单导出";
    Layout = "_Layout";
}

<form class="export-form" method="post" asp-controller="XiamiToCloud" asp-action="Result" asp-antiforgery="true">
    <h2 class="export-title">
        虾米歌单导出
    </h2>
    <div class="form-group">
        <div class="input-group input-group-lg">
            <span class="input-group-addon">https://www.xiami.com/space/lib-song/u/</span>
            <input type="text" class="form-control" placeholder="请按照教程输入内容" asp-for="UrlStr" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg export-btn">导出</button>
</form>
